// 引入變數檔案

@import 'variables';

// container

@for $i from 1 through 12 {
    .container-#{$i}{
        width: $column * $i + map-get($gutter,primary) * ($i - 1);
        margin: 0 auto;
    }
}

// column
// .col-(總共欄數)-(佔據欄數)

@for $column from 1 through 12 {
    @for $i from 1 through $column {
        .col-#{$column}-#{$i} {
            width: 100% / $column * $i;
        }
    }
}

// gutter
// 原本打算用 gap 來處理 gutter
// 但發現寬度會不對，可能要用公式：
// (100% - (column - 1) * gutter ) / column
// 找時間再來試試看
// 所以還是採用類似 bootstrap 的方式設計
// 但目前是 column 寬度和 gutter 間距分開寫
// 拆得細一點也許比較可以因應不同的排版狀況

@each $key , $value in $gutter{
    .row-#{$key} {
        display: flex;
        flex-wrap: wrap;
        margin-left: $value * -0.5;
        margin-right: $value * -0.5;
    }
    .col-#{$key} {
        padding-left: $value * 0.5;
        padding-right: $value * 0.5;
    }
    .gap-y-#{$key} {
        gap: $value 0;
    }
}

// color

@each $key ,$value in $color {

    // 文字顏色

    .text-#{$key} {
        color: #{$value};
    }

    // 背景顏色

    .bg-#{$key} {
        background-color: #{$value};
    }

    // 按鈕背景色 + hover

    .btn-bg-#{$key} {
        background-color: #{$value};
        &:hover{
            background-color: darken($value, 15%);
        }
    }

    // 按鈕線條顏色

    .btn-outline-#{$key} {
        outline: 1px solid #{$value};
    }
}

// padding-margin

@each $key, $value in $padding-margin{
    @for $i from 1 through 64 {
        .#{$key}-#{$i} {
            #{$value}: $i * 1px;
        }
    }
}

// 本來是打算 1 單位 4px
// 但實際切版過程發現偶爾會有例外
// 就改為 1 單位 1px
// 另外增加 px py mx my

@each $value in $padding-margin-xy{
    @for $i from 1 through 64 {
        
        @if $value == "px" {

            // 如果值為 px 產生出以下樣式

            .px-#{$i} {
                padding-left: $i * 1px;
                padding-right: $i * 1px;
            }
        }
        @else if $value == "py"{

            // 如果值為 py 產生出以下樣式

            .py-#{$i} {
                padding-top: $i * 1px;
                padding-bottom: $i * 1px;
            }  
        }
        @else if $value == "mx" {

            // 如果值為 mx 產生出以下樣式

            .mx-#{$i} {
                margin-left: $i * 1px;
                margin-right: $i * 1px;
            }
        }
        @else if $value == "my"{

            // 如果值為 my 產生出以下樣式

            .my-#{$i} {
                margin-top: $i * 1px;
                margin-bottom: $i * 1px;
            }  
        }
    }
}

// display

@each $value in $display {
    .d-#{$value} {
        display: #{$value};
    }
}

// axis

@each $key ,$value in $axis{
    .justify-content-#{$key} {
        justify-content: #{$value};
    }

    @if $key != "between" {

        // 如果 $key 不為 between 才會產出樣式
        
        .align-items-#{$key} {
            align-items: #{$value};
        }       
    }
}